.title {
    font-size: 50px;
    font-variant: small-caps;
}
.p1 {
    font-size: 30px;
    font-style: oblique;
}
.description {
    font-size: 35px;
    color: rgb(20, 5, 153);
    font-style: italic;
}

.p2 {
   font-size: 25px;
   font-style: italic;
   }